# VORON 2.4 350mm — SKR 1.4 / EBBCan


#####################################################################
# Bed Heater — Voron 2.4 350mm
# SKR z-board: heater on z:P2.3, thermistor on z:P0.25
#####################################################################

[heater_bed]
heater_pin: z:P2.3
sensor_type: Generic 3950
sensor_pin: z:P0.25
max_power: 0.48
min_temp: 10
max_temp: 125
pwm_cycle_time: 0.0167
# PID values managed by SAVE_CONFIG block in printer.cfg
# Run PID_CALIBRATE HEATER=heater_bed TARGET=100 then SAVE_CONFIG to update

[verify_heater heater_bed]
max_error: 120
check_gain_time: 90
hysteresis: 5
heating_gain: 2